 .u-section-1 {
  background-image: url("images/smiley-emoji.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-1 .u-text-1 {
  margin: 527px 64px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }
}